{# /layout.html.twig #}
{# Base Page Layout #}
{% extends '@LogBlog/skeleton.html.twig' %}
{% block body_content %}
    {% block page_header %}
    <h1>Blog!</h1>
    {% endblock %}
    {% block navigation %}
    <div>Navigation</div>
    {{ knp_menu_render('mainMenu') }}
    {% endblock %}
    <div>
        {% block page_content %}
            Nothing here. :(
        {% endblock %}
    </div>

{% endblock %}
