{# /layout.html.twig #}
{% extends '@LogBlog/skeleton.html.twig' %}
{% block body_content %}
    {% block page_header %}
    <h1>Blog!</h1>
    {% endblock %}
    {% block navigation %}
    <div>Navigation</div>
    <ul>
        {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('fos_user_security_logout') }}">Abmelden</a></li>
        {% else %}
        <li><a href="{{ path('fos_user_security_login') }}">Anmelden</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">Registrieren</a></li>
        {% endif %}
    </ul>
    {% endblock %}
    <div>
        {% block page_content %}
            Nothing here. :(
        {% endblock %}
    </div>

{% endblock %}
