{# /skeleton.html.twig #}
<!DOCTYPE HTML>
<html>
{% block head_tag %}
<head>
{% block head_content %}
    <title>LogBlog</title>
{% endblock %}
</head>
{% endblock %}
{% block body_tag %}
<body>
{% block body_content %}
{% endblock %}
</body>
{% endblock %}
</html>